* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    h1 {
        margin: 20px 0 10px;
    }

    section {
        margin: 5px;
        padding: 10px;
        // border-radius: 10px;
        background-color: royalblue;

        div {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 60px;
            border: 3px solid rgb(33, 54, 116);
            overflow: hidden;
            box-sizing: content-box;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }

        input {
            width: 100px;
            padding: 5px;
            border: 3px solid rgb(33, 54, 116);
            font-size: 20px;
        }

        button {
            padding: 5px 15px;
            border: 3px solid rgb(33, 54, 116);
            background-color: royalblue;
            font-size: 20px;
        }

        button:hover {
            cursor: pointer;
        }

        h2 {
            margin-bottom: 15px;
        }

        p span {
            font-weight: bold;
        }

        p.red {
            margin-top: 10px;
            color: red;
            background-color: #fff;
        }
    }
}